---
layout: default
---

<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{ page.title }}</h2>
    </div>
    {% include post-image.html %}
    <div class="mdl-card__supporting-text">
        <strong>tags: </strong>
        {% for tag in page.tags %}
        <span>{{ tag }}</span>
        {% else %}
        <strong>no tags in this article</strong>
        {% endfor %}
    </div>
    {% include post-content.html %}
    {% include comments.html %}
</div>

<nav class="mdl-cell mdl-cell--12-col">
    <div class="mdl-card__actions">
        {% if page.previous %}
        <a id="tt5" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored nav-prev" href="{{ page.previous.url | prepend: site.baseurl }}/" rel="bookmark"><i class="material-icons">arrow_back</i></a>
        <div class="mdl-tooltip mdl-tooltip--top" for="tt5">
            {{ page.previous.title }}
        </div>
        {% endif %}
        {% if page.next %}
        <a id="tt6" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored nav-next" href="{{ page.next.url | prepend: site.baseurl }}/" rel="bookmark"><i class="material-icons">arrow_forward</i></a>
        <div class="mdl-tooltip mdl-tooltip--top" for="tt6">
            {{ page.next.title }}
        </div>
        {% endif %}
    </div>
</nav>
